{% extends 'music/genre.html'%}
{% block title%}{{album}}{%  endblock %}
{% block active %} active{% endblock%}
{% block body%}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 col-lg-3" >
				<div class="thumbnail">
					<a href="{% url 'music:detail' album.id%}">
						<img src="{{ album.album_logo.url}}" class="img-responsive"></a>
						<h3>{{album.album_title}}</h3>
						<h2>{{album.artist}}</h2>
				</div>
			</div>
			<div class="col-sm-8 col-lg-9">
				<ul class="nav nav-pills">
					<li class="active"><a href="" >View Songs</a><li>
					<li><a href="{% url 'music:song-add' album.id %}" class="glyphicon glyphicon-plus" >AddSong</a></li>
				</ul>
				<div class="panel panel-default" style="margin-top:10px">
					<div class="panel-body">
						
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Title</th>
										<th>File</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									{% for song in album.song_set.all%}
										<tr>
											<td>{{ song.song_title }}</td>
											<td>
										<a target="_blank" href="{{song.file_type.url}}">
<button type="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-play">&nbsp;play</span></button></a>
											</td>
											<td>
										<form action="{% url 'music:song-delete' album.id song.id %}" method="post" style="display:inline;">
									{% csrf_token %}  <!-- prevents cross-site forgery-->
									<input type="hidden" name="sid" value="{{song.id}}">
									<button type="submit" class="btn btn-danger btn-xs">
									<span class="glyphicon glyphicon-remove">&nbsp;Delete</span>
									</button>
								</form></td>
								</tbody>
									{% endfor %}		
							</table>
					</div>
				</div>
			</div>
		</div>
	</div>
				
				
{% endblock %}


